
<div class="flex flex-col items-center justify-center">
<h1 class="text-4xl">Event Master</h1>
<img src="https://plus.unsplash.com/premium_photo-1681487469745-91d1d8a5836b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" style="height:850px;width:99%;">
</div>